<div class="ascii-bg" aria-hidden="true">
  <pre class="ascii-field"></pre>
</div>

<script>
  import { initAsciiHero } from '../scripts/ascii-hero.js';
  initAsciiHero(document.querySelector('.ascii-field'));
</script>
